In [1]:
myString = 'hello'

myList = []

for letter in myString:
    myList.append(letter)

In [2]:
myList

['h', 'e', 'l', 'l', 'o']

In [3]:
myString = 'hello'

myList = [letter for letter in myString]

In [6]:
myList

['h', 'e', 'l', 'l', 'o']

In [7]:
myList = [letter for letter in 'word']

In [8]:
myList

['w', 'o', 'r', 'd']

In [11]:
myList = [num**2 for num in range(0, 11)]

myList

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
myList = [num**2 for num in range(0, 11) if num % 2 == 1]

myList

[1, 9, 25, 49, 81]

In [14]:
celcius = [0,10,20,34.5]

fahrenheit = [((9/5) * temp + 32)for temp in celcius]
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [15]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append((9/5) * temp + 32)

In [16]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [17]:
myList = []

for x in [2,3,4]:
    for y in [100, 200, 300]:
        myList.append(x*y)

print(myList)

[200, 400, 600, 300, 600, 900, 400, 800, 1200]

In [18]:
myList = [x*y for x in [2,4,6] for y in [10, 20, 30]]

myList

[20, 40, 60, 40, 80, 120, 60, 120, 180]