# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    return min(a,b)

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

2

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [4]:
def animal_crackers(text):
    myList = text.split()
    return myList[0][0] == myList[1][0]

In [5]:
# Check
animal_crackers('Levelheaded Llama')

True

In [6]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [10]:
def makes_twenty(n1,n2):
    return (n1 + n2) == 20 or n1 == 20 or n2 == 20

In [11]:
# Check
makes_twenty(20,10)

True

In [12]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [30]:
def old_macdonald(name):
    newName = ''

    for letter in range(len(name)):
        if letter == 0:
            newName += name[letter].upper()
        elif letter == 3:
            newName += name[letter].upper()
        else:
            newName += name[letter]

    return newName

In [31]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [32]:
def master_yoda(text):
    newText = text.split()
    return " ".join(newText[::-1])

In [33]:
# Check
master_yoda('I am home')

'home am I'

In [34]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [35]:
def almost_there(n):
    return (abs(n-100) < 10) or (abs(n-200) < 10)

In [36]:
# Check
almost_there(104)

True

In [37]:
# Check
almost_there(150)

False

In [38]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [65]:
def has_33(nums):
    iterator = 0
    for num in nums:
        iterator += 1
        if num == 3 and (iterator < len(nums)) and nums[iterator] == 3:
            return True
    return False

In [66]:
# Check
has_33([1, 3, 3])

True

In [67]:
# Check
has_33([1, 3, 1, 3])

False

In [68]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [69]:
def paper_doll(text):
    newString = ''
    for letter in text:
        newString += letter*3
    return newString

In [70]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [71]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [85]:
def blackjack(a,b,c):
    if ((a+b+c) <= 21):
        return a+b+c
    elif (a == 11 or b == 11 or c == 11):
        return (a+b+c)-10
    else:
        print('BUST!')

In [86]:
# Check
blackjack(5,6,7)

18

In [87]:
# Check
blackjack(9,9,9)

BUST!

In [88]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [4]:
def summer_69 (list1):
    summ: int = 0
    iterator = 0

    while (iterator < len(list1)):
        if (list1[iterator] != 6):
            summ += list1[iterator]
        else:
            while (list1[iterator] != 9):
                iterator += 1
        iterator += 1
        
    return summ

In [5]:
# Check
summer_69([1, 3, 5])

9

In [6]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [7]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [12]:
def spy_game(nums):
    solution: bool = False
    iterator: int = 0

    while (iterator < (len(nums)-2)):
        if (nums[iterator] == 0):
            if (nums[iterator + 1] == 0):
                if (nums[iterator + 2] == 7):
                    solution = True
                    break
        iterator += 1
    return solution

In [17]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [18]:
# Check
spy_game([1,0,2,4,0,5,7])

False

In [19]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [38]:
def count_primes(num):
    numberOfPrimes = 0
    flag: bool = False

    for iterator1 in range(2, num):
        flag = False
        for iterator2 in range(2, iterator1+1):
            #sigurno nije prost, idemo dalje
            if iterator1 % iterator2 == 0 and (iterator1 != iterator2):
                break
            elif iterator1 == iterator2:
                flag = True
            else:
                pass
        if flag:
            numberOfPrimes += 1
            
    return numberOfPrimes

In [39]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!